@charset "UTF-8";


section {
	margin-top: 80px;
}
	
section > .container{
	width: 80%;	
	margin: 0 auto;
}

.mother > .col-md-9{
	width: calc(75% - 15px);
    margin-left: 15px;
}

.col-md-9 > .container{
	width: 100%;
	min-width: 780px;
}

.div-2 > div:nth-child(1){
	margin-bottom : 45px;
}

.div-2-1 {
    /* border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; */
    background: #f5f5f5;
    padding: 10px 15px 47px;
    margin: 10px auto;
}


